.artists-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.wishImg {
    width: 100px;
}

.wish-list {
    margin-top: 2rem;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;

}

.list-item {
    margin-top: 2rem;
}

.search-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
    background-color: white;
}

.single-album-box {
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.box{
    width: 500px;
}

.add-album-button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 10vh;
}



.search-bar {
    margin-top: 2rem;
    display: flex;
    justify-content: center;

}


.search-input {
    width: 80vw;
    border-radius: 50px;
    height: 7vh;
    padding-left: 15px;
}

.search-tiles {
    margin: 2rem;
}

.search-icon {
    width: 10px;
}


#root {
    background-image: linear-gradient(to bottom right, rgb(248 155 41), rgb(231 38 123))
}

.form-fields {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
    
}

.myAlbums-buttons {
    display: flex;
    justify-content: space-evenly;
}

.myAlbums {
    text-align: center;
    font-weight: bolder;
    margin-top: 2rem;
    font-size: 4.5vh;
    color: white;
}

.header-myalbums {
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-bottom {
    margin-bottom: 64px
}

.release-heading {
    text-align: center;
    font-weight: bolder;
    padding-top: 2rem;
    font-size: 4.5vh;
    color: white;
    border-top: 5px solid white;
}

.spotify-icon {
    margin-top: 1.5vh;
    width: 100px
}

.singleAlbum-item {
    margin-left: 20px;
    margin-right: 60px;
}

.singleAlbum-list {
    max-height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between
}

.text-styling {
    font-size: 2.5vh;
    font-weight: 800;
}

.star-rating {
    display: flex;

}

input[type=radio]{
    display: none;
}

.star {
   cursor: pointer;
}

.track-list {
    margin-top: 20px;
}

.album-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    width: 200px;
}

.review {
    background-color: white;
    height: 300px;
    width: 790px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.author-button {
    display: flex;
    width: 38vw;
}

.music-icon {
    width: 70px;
    margin-right: 20px;
}

.home-title {
    display: flex;
    justify-content: center;
}