.artists-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.wishlist {
    text-align: center;
    font-weight: bolder;
    margin-top: 2rem;

}

.wishImg {
    width: 100px;
}

.wish-list {
    margin-top: 2rem;
}

.list-item {
    margin-top: 2rem;
}

/* .search-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.search-input {
    min-width: 70vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 0.5;

} */

.search-bar {
    margin-top: 2rem;
    width: 80vw;
    display: flex;
    justify-content: space-between;

}

.search-tiles {
    margin: 2rem;
}


#root {
    background-image: linear-gradient(to bottom right, #ED7845, #F95CA4)
}

